:root {
	--col1: #381D2A;
	--col2: #3E6990;
	--col3: #AABD8C;
	--col4: #E9E3B4;
	--col5: #F39B6D;
}

* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}


body {
	font-size: 1.6rem;
	background-color: var(--col2);
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.bordercol1{
	border-color: var(--col1);
}
.bordercol2{
	border-color: var(--col2);
}
.bordercol3{
	border-color: var(--col3);
}
.bordercol4{
	border-color: var(--col4);
}
.bordercol5{
	border-color: var(--col5);
}



.vp {
	margin: 1rem;
	padding: 0;
	border: none;
	background-color: transparent;
	color: var(--col2);
	font-size: 1.5rem;
}


section {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
	border-radius: 1.3rem;
	margin: 1rem;
	padding: 3rem;
}


header>h1 {
	color: white;
	padding: 2rem;
	margin: 0;
	text-align: center;
}


a,
address,
#profil>p {
	font-size: 2rem;
	padding: 1rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main h1 {
	color: var(--col1);
	padding: 1rem;
	text-align: center;
}


#profil {
	border: 0.9rem solid var(--col3);
	display: flex;
	flex-direction: column;
	align-items: center;
	
} 



article {
	width: 100%;
	
}

#profil {
	
	
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: profil;
}
#pp {
	background-size: cover;
	width: 20rem;
}

#pp>img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
}


#profil>h2,
#profil>h3,
#profil address,
#profil>a,
#profil>p {
	color: var(--col1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 1rem;
	text-align: center;
}


#profil>h2,
#profil h3,
#profil address,
#profil>a,
#profil p {
	color: var(--col1);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	padding: 1rem;
	text-align: center;
}


#formation {
	border: 0.9rem solid var(--col4);
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

#formation>article {
	border-bottom: 0.5rem dotted var(--col4);
	
	
}


#formation>article:nth-child(4) {
	border-bottom: none;
}

#formation article>h2 ,#formations article>h3 {
	color: var(--col1);
	font-size: 2rem;
}


#experience {
	border: 0.9rem solid var(--col5);
	color: var(--col1);
	padding: 3rem;
	
}
#experience>article {
	border-bottom: 0.5rem dotted var(--col5);
}

#experience>article>p {
	
	padding-bottom: 3rem;
}

#experience>article>h2 {
	font-size: 2rem;
	text-emphasis: bold;
}

#experience>article>h3 {
	font-size: 1.5rem;
	text-emphasis: bold;
	text-align: start;
}

#experience>article:nth-child(4) {
	border: none;
}

#competence {
	border: 0.9rem solid var(--col1);
	padding: 3rem;

}

#competence>article {
	border-bottom: 0.5rem dotted var(--col1);
	padding-bottom: 3rem;
}

#competence> article:last-child {
	border-bottom: none;
}

#competence>article>h2 {
	font-size: 2rem;
	text-emphasis: bold;
}


footer {
	text-align: center;
	color: white;
}

#hidden {
	display: none;
	position: fixed;
	bottom: 8rem;
	right: 4.5rem;
	scroll-behavior: smooth;
	background-color: rgba(200, 200, 200, 0.4);
	border: 0.7rem solid var(--col2);
	border-radius: 30%;
	text-decoration: none;
	font-size: 3rem;
	padding: 0.5rem;
	font-weight: bold;
	color: var(--col1);
	
}

.appears{
	display: none;
}

/* @media screen and (min-width: 600px){
	

	#competence, #competence p{
		text-align: center;
	}
} */
/* @media screen and (min-width: 900px) {
	#profil{

	}
} */

/* @media screen and (min-width: 900px){
	main{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		grid-template-rows:  2fr 2fr 3fr 3fr;
		grid-template-areas:
							'profil formation formation'	
							'profil formation formation '
							'competence experience experience'
							'competence experience experience';
		grid-gap: 2rem;
		

	}
	#profil{
		grid-area: profil;
	}
	#experience{
		grid-area: experience;
		
	}
	#competence{
		grid-area: competence;
	}
	section{
			height: 100%;
	}
	#competence>h1{
		display: inline-block;
		width: 100%;
	}
	#competence>article{
		display: inline-block;
		width: 100%;

	}
	#formation{
		grid-area: formation;
	}

	#hidden {
		right: 10rem;
	}
} */

/* @keyframes turn {
	0% {
	  transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	50%{
		transform: translateX() translateY() rotate(180deg);
	}
	100% {
	  transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}
  

.anime-border{
	color: var(--col3);

	font-weight: bold;
	transform: translateX(0) translateY(0);
}
.anime-border:before,
.anime-border:after{
	content: '';
	padding: .9em .4em;
	position: absolute;
	left: 50%;
	width: 100%;
	top: 50%;

	border: 3px solid var(--col3);
	transform: translateX(-50%) translateY(-50%) rotate(0deg);
	animation: 4s infinite alternate ease-in-out turn;
}
.anime-border:before{
	border-color: var(--col3) #b1c492 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
	z-index: -1;
	
}
.anime-border::after{

	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--col3) #b1c492;
	box-shadow: 5px 5px 5px rgba(46, 46, 49, .8);

}
   */



 
  

  


 